@import url('htps://fonts.googleapis.com/css?family=Lato:300:400');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');



.inner-header {
  height:65vh;
  width:100%;
  padding: 0;
}

.flex { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  overflow: none;
  position:relative; 
  bottom: 475px;
  width: 100%;
  height:15cm; 
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: rgb(147, 228, 201);
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}


* {
  
  box-sizing: border-box;
  padding: 0;
  margin:0;
}



body {
  overflow: hidden;
  background-color: rgba(6, 23, 32, 0.932);
  font-size: 18px;
  line-height: 1.6;
  
}

h1 {
  font-size: 4px;
}

.container {
    max-width: 600px;
    margin-top: 0em;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  


.admin {
  position:relative; 
  left:80px; 
  bottom: 400px;
  font-family: Poppins;
  font-size: 2cm;
  color: rgb(80, 197, 158);
  font-weight:bold;
}



a{
  position:relative; 
  left:0px; 
  bottom: 425px;
  font-family: "Amatic SC";
  margin-top: 5cm;
  font-size: 25px;
  letter-spacing: 0.1cm;
  color:rgb(166, 220, 241);
  margin-left: 20px;
}



h2{
  color: bisque;
}


iframe{
  position:relative; 
  left:80px; 
  bottom: 450px;
  align-content: right;
  margin-top: 2cm;
  border-radius: 25px;
  padding: 20px;
  height: 3.2cm;
}



p{
  position:relative; 
  left:80px; 
  bottom: 400px;
  font-size: 0.5cm;
  font-family: monospace;
  font-weight: bold;
  color:rgb(103, 155, 137);
}