@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  font-family: monospace;
  background-color: rgba(7, 7, 8, 0.966);
  font-size: 18px;
  line-height: 1.6;
  
}

h1 {
  font-size: 60px;
  letter-spacing: -5px;
  
}

.container {
    max-width: 600px;
    margin: auto;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.comment2 {
  color: #95c580;
  height: 100px;
  font-size:40px;
  align-self: flex-start;
  margin: 10px;

}
.comment1 {
  color: #95c580;
  height: 100px;
  font-size:40px;
  align-self: flex-end;
  margin: 10px;

}

.admin {
  color: rgb(123, 179, 160);
}


.bio{
  color: beige;
  font-size: 20px;
}



.links{
  height: 100px;
}

h2{
  color: bisque;
}





