@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
* {
  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(45, 48, 56, 0.966);
  font-size: 18px;
  line-height: 1.6;
  
}

h1 {
  font-family: sans-serif;
  font-size: 60px;
  letter-spacing: -5px;
  
}

.container {
    max-width: 600px;
    margin: auto;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.comment2 {
  color: #95c580;
  height: 100px;
  font-size:40px;
  align-self: flex-start;
  margin: 10px;
  font-family: Poppins;

}
.comment1 {
  color: #95c580;
  height: 100px;
  font-size:40px;
  align-self: flex-end;
  margin: 10px;
  font-family: Poppins;

}

.admin {
  color: rgb(123, 179, 160);
}


.bio{
  color: beige;
  font-size: 40px;
  font-family:"Amatic SC";

}

a{
  
  color:antiquewhite;
}



h2{
  color: bisque;
}


iframe{
  align-content: center;
  margin-top: 2cm;
}


